####################################
# Dependencias
####################################
node_modules/
**/node_modules/

####################################
# Logs
####################################
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

####################################
# Variables de entorno
####################################
.env
.env.*
!.env.example

####################################
# Build / Dist
####################################
# React (Vite / CRA)
dist/
build/

# Backend
coverage/
.tmp/

####################################
# Cache
####################################
.cache/
.eslintcache
.vite/

####################################
# OS
####################################
.DS_Store
Thumbs.db
desktop.ini

####################################
# IDEs / Editores
####################################
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

.idea/
*.iml

####################################
# Testing
####################################
coverage/
*.lcov

####################################
# Otros
####################################
*.swp
*.swo
*.bak
